@{
    ViewData["Title"] = "Home Page";
}
@model IndexViewModel

<h1>@Model.TeamCategory</h1>

@foreach (var x in Model.Bowlers)
{
    <p>@x.BowlerFirstName @x.BowlerMiddleInit @x.BowlerLastName</p>
    <p>@x.BowlerAddress</p>
    <p>@x.BowlerCity, @x.BowlerState</p>
    <p>@x.BowlerZip</p>
    <p>@x.BowlerPhoneNumber</p>
    <br />
    <br />
}

<!--Dynamically create the page numbeers based on how many books there and how many books for each page-->
<div page-info="@Model.PageNumberingInfo" page-url-teamname="@Model.TeamCategory"
     page-classes-enabled="true" page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" class="btn-group pull-right m-1">
</div>